In [ ]:
import pandas as pd 
import datetime as dt

# Datetime

In [ ]:
today=dt.date(2020,5,2)
today
today.day
today.month
today.year

today=dt.datetime(2020,5,2,10,45,56)
today
today.day
today.month
today.year
today.hour
today.minute
today.second

56

# Timestamp

In [ ]:
today=pd.Timestamp('2020-05-02')
today=pd.Timestamp('2020/05/02')
today=pd.Timestamp('2020/05/02 3:23:45 PM')
today=pd.Timestamp('2020,05,02 10:50:41 AM')
today

Timestamp('2020-02-01 10:50:41')

# Timedelta

In [ ]:
Time_A= pd.Timestamp('2020-05-02 12:13:45 PM')
Time_B= pd.Timestamp('2020-05-04 12:13:45 AM')
Time_gap=Time_B-Time_A
Time_gap

Days=pd.Timedelta(weeks=10,days=3,hours=10,minutes=36,seconds=180)
Days

Timedelta('73 days 10:39:00')

# DatetimeIndex

In [ ]:
dates=['2020/05/06','2020/01/05','2020/02/08']
dateindex=pd.DatetimeIndex(dates)
dateindex

values=[25,31,45]
series= pd.Series(data=values, index=dateindex)
series

2020-05-06    25
2020-01-05    31
2020-02-08    45
dtype: int64

# pd.to_datetime()

In [ ]:
pd.to_datetime('2020/05/02')
pd.to_datetime(dt.date(2020,5,2))
pd.to_datetime(dt.datetime(2020,5,2,15,17,23))

dates=['2020/05/06','2020/01/05','2020/02/08']
pd.to_datetime(dates)

dates=['2020/05/06','May2,2020','This is time','April 22nd,2020']
pd.to_datetime(dates,errors='coerce')                        # Return NaT(not a time) for the data that is not a time 

unixtime=['13215125','4564545','4123139']                    # Second Values 
pd.to_datetime(unixtime,unit='s')                            # converts these second values into human readable time format

DatetimeIndex(['1970-06-02 22:52:05', '1970-02-22 19:55:45',
               '1970-02-17 17:18:59'],
              dtype='datetime64[ns]', freq=None)

# pd.date_range()

In [ ]:
times=pd.date_range(start='2019/10/22',end='2020/5/2',freq='W')       #freq='D'(day),'H'(hour),'W'(weak)
times

DatetimeIndex(['2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
               '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15',
               '2019-12-22', '2019-12-29', '2020-01-05', '2020-01-12',
               '2020-01-19', '2020-01-26', '2020-02-02', '2020-02-09',
               '2020-02-16', '2020-02-23', '2020-03-01', '2020-03-08',
               '2020-03-15', '2020-03-22', '2020-03-29', '2020-04-05',
               '2020-04-12', '2020-04-19', '2020-04-26'],
              dtype='datetime64[ns]', freq='W-SUN')

Reading Data From The Internet

In [ ]:
from pandas_datareader import data
company='MSFT'                                        #Microsoft
start='2019-01-01'
end='2020-01-01'
df=data.DataReader(name=company,data_source='yahoo',start=start, end=end)
df

# Slicing
df.loc['2019-01-07']
df.loc['2019-01-07':'2019-05-07']
df.truncate(before='2019-12-24',after='2019-12-28')  # Data before 2019-12-07 and after 2019-12-28 will be chopped off

# Extracting Year,Months,days only

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-24,157.710007,157.119995,157.479996,157.380005,8989200.0,156.951309
2019-12-26,158.729996,157.399994,157.559998,158.669998,14520600.0,158.237793
2019-12-27,159.550003,158.220001,159.449997,158.960007,18412800.0,158.527008